.navbar{
    background-color: black;
    padding: 1rem 8rem;
    z-index: 1000;
}
.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 650;
}

#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 1rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color:#f5e042;
}

#navbarSupportedContent > button {
    font-weight: 600;
    padding: 0.4rem 2rem;
    border-radius: 30px;
    font-size: large;

}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.mid video{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text{
    position: relative;
}

.about{
    background-color: black;
}

.about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6{
    color: #f5e042;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about .text h2{
    color: white;
    font-weight: 600;
    font-size: 2.7rem;
}

.about .text p{
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
}

.discovery{
    background-color: black;
}

.discovery .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.discovery .text h6{
    color: #f5e042;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.discovery .text h2{
    color: white;
    font-weight: 600;
    font-size: 2.7rem;
}

.discovery .text p{
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.6px;
}
